.videoComp{
    margin: 120px 0 0 0;
}
.videoComp .background{
    background-image: url(/src/images/video-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 500px;
	position: absolute;
    z-index: -10;
	width: 100%;
    height: 100%;
}
.videoComp .text{
    padding: 100px 0;
    text-align: center;
    line-height: 56px;
}
.videoComp .text .heading p{
    font-weight: 700;
    text-transform: uppercase;
    color : orangered;
}
.videoComp .text .heading p span{ 
    font-size: 20px;
}
.videoComp .text .heading .h1{
    width: 25%;
    margin: 10px auto;
    text-align: center;
}
.videoComp .text .heading .h1 h1{
    font-size: 40px;
    color: white;
    line-height: 56px;
    font-weight: 700;
}
.videoComp .text .video {
    max-width: 926px;
    height: 416px;
    margin: 80px auto;
    position: relative;
}
.videoComp .text .video .videoBack {
    background-image: url(/src/images/video-frame.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
}
.videoComp .text .video a{
    padding: 3px 2px 2px 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-26px, -26px);
    width: 52px;
    height: 52px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 52px;
    color: orangered;
    outline: 15px solid rgba(255, 68, 0, 0.539);
    font-size: 18px;
}
@media screen and (max-width: 1024px) {
    .videoComp .text .heading .h1{
        width: 100%;
    }
    .videoComp .text .video{
        margin-bottom: 180px;
        padding: 0 15px;
    }
}
@media screen and (max-width : 420px) {
    .videoComp .background{
        height: 580px;
    }
    .videoComp .text .heading .h1{
        width: 100%;
    }
    .videoComp .text .video{
        padding: 0 15px;
        height: 174px;
        margin: 50px;
    }
    .videoComp .text .video a{
        font-size: 15px;
    }
}