.featured .container{
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 200px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.featuredCard{
    min-width: 285px;
    max-height: 70%;
}
@media screen and (max-width : 1024px) {
    .featured .container {
        padding: 0 10px;
    }
    .featuredCard{
        width: 100%;
        margin-top: 50px;
    }
}
@media screen and (max-width: 414px) {
    .featured .container{
        padding-top: 40px;
    }
    .featuredCard{
        width: 100%;
        margin-top: 50px;
    }
}